<%= simple_nested_form_for([:backend, @property], validate: true) do |f| %>
    <%= render_errors @property %>
    <div class="form-inputs">
      <% if @current_user.tenant? %>
          <%= f.input :owner_name %>
          <%= f.input :owner_email %>
          <%= f.input :owner_phone %>
      <% else %>
          <%= f.input :title %>
      <% end %>

      <%= f.fields_for :images do |i| %>
          <%= image_tag i.object.attachment.url(:thumb), height: '100px', width: '100px' %>
          <%= i.input :attachment, input_html: {class: 'files', onchange: 'MyUtils.UpdatePreview(this);'} %>
          <%= i.link_to_remove "Remove this image" %>
      <% end %>
      <p><%= f.link_to_add "Add a image", :images %></p>

      <%= f.input :description, as: :text %>
      <%= f.input :country %>
      <%= f.input :city %>
      <%= f.input :street1 %>
      <%= f.input :street2, label: 'Address' %>
      <%= f.input :zipcode %>
    </div>
    <div class="row">
      <%= render :partial => "shared/interactive_address_fields", :locals => {:f => f} %>
    </div>
    <br/>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
