<div class="col-md-12">
  <% if @property.user == @current_user %>
      <%= link_to 'Edit', edit_backend_property_path(@property) %> |
      <%= link_to 'Back', backend_properties_path %>
  <% elsif @current_user.owner? && @property.verification_token == params[:token] %>
      <%= link_to 'Own this property', own_backend_property_path(@property, token: params[:token] ), data: {:method => :put, confirm: 'Are you sure?'} %>
<% end %>

  <h2><%= @property.title %>
    <small>
      <p id="wishLink"><%= wishlist_link(@property) %></p>
    </small>
  </h2>
</div>



<div class="col-md-6">
  <p>
    <%= image_tag @property.image.url(:large), width: '100%' %>
  </p>


  <p><strong>Description:</strong>
    <%= @property.description %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @property.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @property.country %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= @property.street1 %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= @property.street2 %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= @property.zipcode %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link_to @property.user.fullname, show_user_path(@property.user_id) %>
  </p>
</div>

<div class="col-md-6">
  <%= render :partial => "shared/interactive_address_fields" %>
</div>
