<li><%= link_to 'List your property', new_backend_property_path %></li>
<li><%= link_to 'View/Update Property Profile/s', backend_properties_path %></li>
<li><%= link_to 'Connect Tenants', '#' %></li>
<li><%= link_to 'Maintenance/Manage Properties', '#' %></li>
<li><%= link_to 'Messages', '#' %></li>
<li><%= link_to 'Financial History', '#' %></li>
