<li><%= link_to 'New estimate requests', '#' %></li>
<li><%= link_to 'Job Map', '#' %></li>
<li><%= link_to 'View current work orders', '#' %></li>
<li><%= link_to 'View completed work orders', '#' %></li>
<li><%= link_to 'Messages', '#' %></li>
<li><%= link_to 'Financial History', '#' %></li>
<li><%= link_to 'User defined menu from drop down', '#' %></li>
<li><%= link_to 'User defined menu from drop down', '#' %></li>
