<li><%= link_to 'Maintenance', '#' %></li>
<li><%= link_to 'Pay rent', '#' %></li>
<li><%= link_to 'Messages', '#' %></li>
<li><%= link_to 'Connected property profile', backend_leases_path %></li>
<li><%= link_to 'View/Connect Property', backend_properties_path %></li>
